<ion-header>
  <ion-toolbar>
    <ion-title>Online teszt vadászvizsgára</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="isNewGame"  color="light">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="number-of-questions" color="light">
            <ion-label >
              Kérdések száma
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-select [(ngModel)]="numberOfQuestions"
                        placeholder="Válassz!">
              <ion-select-option [value]="i"
                                 *ngFor="let i of [10,50,100]">{{i}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="startNewGame()" class="start-button">Mehet</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-text class="tip" color="dark">
            Tipp: A kérdések között jobbra és balra húzással, és gombok segítségével is tud lapozni.
          </ion-text>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid *ngIf="!this.isNewGame" color="light">
    <ion-row>
      <ion-col>
        <ion-button color="light"
                    expand="block"
                    (click)="resetGame()">
          Újrakezdés
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-text class="counter">
        Eltelt idő: <span *ngIf="counterMinute < 10">0</span>{{counterMinute}}:<span *ngIf="counterSecond < 10">0</span>{{counterSecond}}
      </ion-text>
    </ion-row>
  </ion-grid>

  <ion-slides *ngIf="!this.finished && !this.isNewGame" [options]="slideOptions" (ionSlideDidChange)="getActiveSlideIndex()" #slider >
    <ion-slide *ngFor="let question of this.questions; let i = index">

      <ion-grid>
        <ion-row>
          <ion-card class="question-card shake">
            <ion-progress-bar value="{{progressBarValues[i]}}"></ion-progress-bar>
            <ion-card-header color="light">
              <ion-card-title class="question-title">{{this.question.question}}</ion-card-title>
            </ion-card-header>
            <ion-card-content color="light" style="background-color: whitesmoke;">
              <ion-list lines="none" style="background-color: whitesmoke;">
                <ion-radio-group name="{{this.question.question}}" >
                  <ion-item class="answer-item" color="light"
                            *ngFor="let answer of this.question.answers; let answerId=index">
                    <ion-button class="letter-button"
                                (click)="answerQuestion(selectedQuestion, answerId)"
                                [ngClass]="{'correct-answer': answerId === question.correctAnswerId && questionAnswered[i], 'wrong-answer': !answers[i].correct && questionAnswered[i] && answerId === selectedAnswer[i]}">{{questionLetters[answerId]}}</ion-button>
                    <ion-button class="answer-button"
                                (click)="answerQuestion(selectedQuestion, answerId)"
                                [ngClass]="{'correct-answer': answerId === question.correctAnswerId && questionAnswered[i], 'wrong-answer': !answers[i].correct && questionAnswered[i] && answerId === selectedAnswer[i]}">{{answer}}</ion-button>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-grid *ngIf="!this.finished && !this.isNewGame">
            <ion-row>
              <ion-col *ngIf="i !== 0">
                <ion-button color="light"
                            expand="block"
                            (click)="previousPage()">
                  Előző
                </ion-button>
              </ion-col>
              <ion-col *ngIf="i + 1 !== questions.length">
                <ion-button color="dark"
                            expand="block"
                            (click)="nextPage()">
                  Következő
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="i + 1 === questions.length && !finished">
            <ion-button class="evaluation-button"
                        expand="block"
                        (click)="this.finished = true; this.isCounterOn = false">
              Kiértékelés
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row *ngIf="finished">

      <ion-card *ngIf="getSuccessPercent() > 0.66" class="question-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center success">
            Gratulálunk!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <span class="span-center success">
            A teszt eredménye: {{(getSuccessPercent()*100).toFixed(2)}}%
          </span>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="getSuccessPercent() <= 0.66 && getSuccessPercent() > 50" class="question-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center good-enough">
            Lehetne jobb is!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <span class="span-center good-enough">
            A teszt eredménye: {{(getSuccessPercent()*100).toFixed(2)}}%
          </span>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="getSuccessPercent() < 0.5" class="question-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center unsuccess">
            Sajnáljuk!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <span class="span-center unsuccess">
            A teszt eredménye: {{(getSuccessPercent()*100).toFixed(2)}}%
          </span>
        </ion-card-content>
      </ion-card>

      <ion-col>
        <ion-button color="dark"
                    expand="block"
                    (click)="checkFilledOutTest()">
          Kitöltött teszt megtekintése
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <chart [type]="type" [data]="data" [options]="options" *ngIf="this.showChart && !this.isNewGame"></chart>

</ion-content>
