<ion-header>
  <ion-toolbar>
    <ion-title>Online teszt vadászvizsgára</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  @if (isNewGame) {
  <ion-card color="light">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="number-of-questions"
                   color="light">
            <ion-label>
              Kérdések száma
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-select [(ngModel)]="numberOfQuestions"
                        placeholder="Válassz!">
              @for (i of [10,50,100]; track i) {
              <ion-select-option [value]="i">{{i}}</ion-select-option>
              }
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="startNewGame()"
                        class="start-button">Mehet</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-text class="tip"
                    color="dark">
            Tipp: A kérdések között jobra és balra húzással, és gombok segítségével is tud lapozni.
          </ion-text>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  }
  @if (!this.isNewGame) {
  <ion-grid color="light">
    <ion-row>
      <ion-col>
        <ion-button color="light"
                    expand="block"
                    (click)="resetGame()">
          Újrakezdés
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-text class="counter">
        Eltelt idő: @if (counterMinute < 10) {<span>0</span>}{{counterMinute}}:@if (counterSecond < 10) {<span>0</span>}{{counterSecond}}
      </ion-text>
    </ion-row>
  </ion-grid>
  }

  @if (!this.finished && !this.isNewGame) {
  <swiper-container #slider>
    @for (question of this.questions; let i = $index; track question.id) {
    <swiper-slide>

      <ion-grid>
        <ion-row>
          <ion-card class="question-card shake">
            <ion-progress-bar value="{{progressBarValues[i]}}"></ion-progress-bar>
            <ion-card-header color="light">
              <ion-card-title class="question-title">{{question.question}}</ion-card-title>
            </ion-card-header>
            <ion-card-content color="light"
                              style="background-color: whitesmoke;">
              <ion-list lines="none"
                        style="background-color: whitesmoke;">
                <ion-radio-group name="{{question.question}}">
                  @for (answer of question.answers; let answerId=$index; track answerId) {
                  <ion-item class="answer-item"
                            color="light">
                    <ion-button class="letter-button"
                                (click)="answerQuestion(selectedQuestion, answerId)"
                                [ngClass]="{'correct-answer': answerId === question.correctAnswerId && questionAnswered[i], 'wrong-answer': !answers[i].correct && questionAnswered[i] && answerId === selectedAnswer[i]}">{{questionLetters[answerId]}}</ion-button>
                    <ion-button class="answer-button"
                                (click)="answer.answerQuestion(selectedQuestion, answerId)"
                                [ngClass]="{'correct-answer': answerId === question.correctAnswerId && questionAnswered[i], 'wrong-answer': !answers[i].correct && questionAnswered[i] && answerId === selectedAnswer[i]}">{{answer}}</ion-button>
                  </ion-item>
                  }
                </ion-radio-group>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          @if (!this.finished && !this.isNewGame) {
          <ion-grid>
            <ion-row>
              @if (i !== 0) {
              <ion-col>
                <ion-button color="light"
                            expand="block"
                            (click)="previousPage()">
                  Előző
                </ion-button>
              </ion-col>
              }
              @if (i + 1 !== questions.length) {
              <ion-col>
                <ion-button color="dark"
                            expand="block"
                            (click)="nextPage()">
                  Következő
                </ion-button>
              </ion-col>
              }
            </ion-row>
          </ion-grid>
          }
        </ion-row>
        <ion-row>
          @if (i + 1 === questions.length && !finished) {
          <ion-col>
            <ion-button class="evaluation-button"
                        expand="block"
                        (click)="this.finished = true; this.isCounterOn = false">
              Kiértékelés
            </ion-button>
          </ion-col>
          }
        </ion-row>
      </ion-grid>

    </swiper-slide>
    }
  </swiper-container>
  }

  <ion-grid>
    @if (finished) {
    <ion-row>

      @if (getSuccessPercent() > 0.66) {
      <ion-card class="question-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center success">
            Gratulálunk!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <span class="span-center success">
            A teszt eredménye: {{(getSuccessPercent()*100).toFixed(2)}}%
          </span>
        </ion-card-content>
      </ion-card>
      }
      @if (getSuccessPercent() <= 0.66 && getSuccessPercent() > 50) {
      <ion-card class="question-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center good-enough">
            Lehetne jobb is!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <span class="span-center good-enough">
            A teszt eredménye: {{(getSuccessPercent()*100).toFixed(2)}}%
          </span>
        </ion-card-content>
      </ion-card>
      }
      @if (getSuccessPercent() < 0.5) {
      <ion-card class="question-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center unsuccess">
            Sajnáljuk!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <span class="span-center unsuccess">
            A teszt eredménye: {{(getSuccessPercent()*100).toFixed(2)}}%
          </span>
        </ion-card-content>
      </ion-card>
      }
      <ion-col>
        <ion-button color="dark"
                    expand="block"
                    (click)="checkFilledOutTest()">
          Kitöltött teszt megtekintése
        </ion-button>
      </ion-col>
    </ion-row>
    }
  </ion-grid>

  @if (this.showChart && !this.isNewGame) {
  <canvas baseChart
          [data]="data"
          [type]="type"
          [options]="options"></canvas>
  }

</ion-content>
