.search-button {
  width: 95%;
  margin: auto;
}

.warning {
  text-align: center;
  color: red;
}

.hidden {
  display: none;
}

.shown {
  display: inline;
}

.reset {
  --ion-toolbar-color: #FF0000;
}
