// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #6C915D;
  --ion-color-primary-rgb: 108,145,93;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #5f8052;
  --ion-color-primary-tint: #7b9c6d;

  --ion-color-secondary: #6C915D;
  --ion-color-secondary-rgb: 108,145,93;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #5f8052;
  --ion-color-secondary-tint: #7b9c6d;
}