<ion-header translucent>
  <ion-toolbar>
    @if (dataLoaded | async) { <ion-title>{{currentAnimal.name}}</ion-title> }
    <ion-buttons slot="start">
      <ion-back-button defaultHref="allathatarozo"
                       text="Vissza">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if (dataLoaded | async) { <ion-content color="secondary">

  @if (currentAnimal.picture.length < 2) { <ion-card class="ion-card-for-cover margin">
    <ion-card-content class="ion-card-content-for-cover">
      @if (currentAnimal.picture[0]) { <ion-card-subtitle
                         class="slideshow-title">
        {{currentAnimal.picture[0]}}
      </ion-card-subtitle> }
      <ion-img [src]="'/assets/' + currentAnimal.picture[0]"
               (ionError)="fetchLocalDataService.setPlaceholderImg($event)"></ion-img>
    </ion-card-content>
  </ion-card> }

  @if (currentAnimal.picture.length > 1) { <swiper-container>
      @for (picture of currentAnimal.picture; track picture.img) {
    <swiper-slide>
      <ion-card class="ion-card-for-cover margin">

        <ion-card-content class="ion-card-content-for-cover">
          @if (picture.imgDesc) {
<ion-card-subtitle
                             class="slideshow-title">
            {{picture.imgDesc}}
          </ion-card-subtitle>}
          <ion-img [src]="'/assets/' + picture.img"
                   (ionError)="fetchLocalDataService.setPlaceholderImg($event)"></ion-img>
        </ion-card-content>

      </ion-card>
    </swiper-slide>
  }
  </swiper-container> }

  <div class="details-title-row margin">
    <ion-grid class="huntable-card">
      <ion-row>
        <span class="title">{{currentAnimal.name}}</span>
      </ion-row>
      @if (currentAnimal.nameInLatin) { <ion-row>
        <span class="animal-sub">{{currentAnimal.nameInLatin}}</span>
      </ion-row> }
    </ion-grid>
  </div>

    @for (huntingseason of currentAnimal.huntingSeasons; track huntingseason.name) {

  <div class="details-huntable-row margin">

    <ion-grid class="huntable-card">
      <ion-row>
        <span class="title">Vadászidény: {{huntingseason.name}}</span>
      </ion-row>
      <ion-row>
      @for (month of getObjectKeys(huntingseason.months); track month) {
        <ion-col size="1" class="huntable-month">
          <p style="position: absolute; width: 100%; margin: 30% auto 0 auto; text-align: center;">{{month}}</p>
          @if (huntingseason.months[month]==0) { <img src="assets/icon/nemvadaszhato.svg"> }
          @if (huntingseason.months[month]==1) { <img src="assets/icon/feligvadaszhato.svg"> }
          @if (huntingseason.months[month]==3) { <img src="assets/icon/vadaszhato.svg"> }
        </ion-col>
      }
      </ion-row>
    </ion-grid>
  </div>
  }
  <p class="text-padding details-text">{{currentAnimal.description}}</p>
</ion-content> }
